body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
}

.container{
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 40px;
    height: 200px;
    position: relative;
}

#box{
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    padding: 5px;
}

.static{
    background: teal;
    position: static;
}

.relative{
    background: red;
    position: relative;
    top: 20px;
    left: 20px;
}

.absolute{
    background: pink;
    position: absolute;
    top: 20px;
    right: 20px;
}

.fixed{
    background: blanchedalmond;
    position: fixed;
    top: 20px;
    right: 20px;
}

.sticky{
    background: palegoldenrod;
    position: sticky;
    top: 20px;
    right: 20px;
}